a {
  color: #2b7bb9;
  text-decoration: none;
}
a:hover, a:focus {
  color: #215f90;
  text-decoration: underline;
}

p {
  font-size: 28px;
}

ul {
  list-style-type: disc;
  display: inline-block;
  text-align: left;
  margin: 0 0 0 1em;
}
ul li {
  display: list-item;
  font-size: 30px;
}

.margin-top {
  margin-top: 20px !important;
}

.twitter-body,
.full-text,
.code,
.livecode,
.full-title {
  background-color: #f5f8fa;
}

.full-width-img {
  width: 100%;
}
.only-image * {
  margin: 0 !important;
  padding: 0 !important;
}
section h2 {
  line-height: 1.4em;
}
section .content {
  min-width: 60%;
}
section img {
  margin: 0 auto;
}
article section.white {
  background-color: #FFF;
  color: #111;
}

.livecode input[type="text"] {
  background: #142444;
  border: none;
  border-bottom: 2px solid #000000;
  color: #F00;
  width: 80px;
  margin: 0 10px;
}

.livecode input:focus {
  outline: none;
}

.livecode .hello .result {
  color: #F80;
}

.to-the-resque .content {
  width: 600px;
}

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
  width: 800px;
  margin: 0.4em auto 0.6em;
  background-color: #3F3F3F;
}

.long :not(pre) > code[class*="language-"],
.long pre[class*="language-"] {
  width: 960px;
}

.line-highlight {
  background: rgba(216, 223, 65, 0.13);
}

pre[data-line] {
  padding: inherit;
}

.link a {
  display: inline-block;
  margin-top: 1em;
  font-size: 2em;
}

/* --- buttons ---- */
button, html input[type="button"], input[type="reset"], input[type="submit"] {
  padding:1rem 2rem;
  background:transparent;
  border:3px solid #fff;
  margin:1rem 0;
  border-radius:4px;
  color:#fff;
  text-transform:uppercase;
  letter-spacing:2px;
  font-size:1rem;
}

/* --- big labels ---- */

.big-label {
  font-size:1.5rem;
}


/* ---- backgrounds ---- */
article.san-francisco-1::before,
article.rum::before,
article.play::before {
  -webkit-filter: grayscale(0) brightness(1);
  -moz-filter: grayscale(0) brightness(1);
  filter: grayscale(0) brightness(1);
  background-image: url("../img/san-francisco-1.gif");
}
article.rum::before {
  background-image: url("../img/rum.gif");
}
article.play::before {
  background-image: url("../img/play.gif");
}
article.ciao::before,
article.toaster::before,
article.toaster-pick::before,
article.practice::before,
article.practice-two::before,
article.polyfill::before,
article.shoes::before,
article.ouch::before,
article.love-you::before {
  -webkit-filter: grayscale(0) brightness(1);
  -moz-filter: grayscale(0) brightness(1);
  filter: grayscale(0) brightness(1);
  background-image: url("../img/toaster.gif");
}
article.ciao::before {
  background-image: url("../img/ciao.gif");
}
article.toaster-pick::before {
  background-image: url("../img/toaster-pick.gif");
}
article.practice::before {
  background-image: url("../img/practice.gif");
}
article.practice-two::before {
  background-image: url("../img/practice-two.gif");
}
article.polyfill::before {
  background-image: url("../img/polyfill.gif");
}
article.shoes::before {
  background-image: url("../img/shoes.gif");
}
article.ouch::before {
  background-image: url("../img/ouch.gif");
}
article.love-you::before {
  background-image: url("../img/love-you.gif");
}


twitterwidget {
  margin: 0 auto!important;
}
.gist {
  width: 80%;
  margin: 30px auto;
}

.full-text .bespoke-slide,
.full-title .bespoke-slide,
.ciao .bespoke-slide,
.love-you .bespoke-slide,
.toaster .bespoke-slide,
.toaster-pick .bespoke-slide,
.practice .bespoke-slide,
.practice-two .bespoke-slide,
.polyfill .bespoke-slide,
.shoes .bespoke-slide,
.ouch .bespoke-slide,
.play .bespoke-slide {
  margin-top: -1.4em;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-box-align: center;
  box-align: center;
}
.ciao .bespoke-slide,
.love-you .bespoke-slide {
  margin-top: 0.2em;
}
.polyfill .bespoke-slide {
  margin-top: -9.2em;
}
.practice .bespoke-slide,
.shoes .bespoke-slide {
  margin-top: 2.6em;
}

.title .classy {
  font-size: 2em;
}

.twitter-fix,
.article-fix {
  position: fixed;
  bottom: 0.1em;
  left: 0.6em;
  z-index: 22;
}
.article-fix {
  left: inherit;
  right: 0.6em;
  width: 50%;
}
.twitter-fix svg {
  position: absolute;
  left: 10px;
  bottom: -1px;
}
.twitter-fix h5,
.article-fix h5 {
  position: absolute;
  left: 44px;
  bottom: 10px;
  color: #66757f;
  font-size: 1em;
  height: 1em;
  padding: 0;
  margin: 0;
}
.article-fix h5 {
  left: inherit;
  bottom: 12px;
  right: 16px;
  font-size: 0.9em;
}

.profile {
  margin: 0 auto;
  width: 600px;
}
.profile .rounded-image {
  display: inline-block;
  overflow: hidden;
  vertical-align: middle;
  width: 100px;
  height: 100px;
  border: 2px solid #000;
  border-radius: 100%;
  margin-right: 10px;
  box-shadow: 0px 0px 0px 2px #FFF;
}
.profile .rounded-image img {
  margin: 0;
  width: 100%;
}
.profile .rounded-image-white {
  border: 2px solid white;
}
.profile h3 {
  display: inline-block;
  text-transform: lowercase;
  font-size: 2.2em;
}
.profile h3.twitter {
  text-transform: inherit;
  font-size: 1.6em;
}

.white-bg {
  background-color: #FFF;
}

.width-100 {
  width: 100%;
  margin: 0;
}

.logo {
  width: 150px;
}

.fake-list.two-columns {
  display: inline-block;
  width: 550px;
}
.text-left {
  text-align: left;
}

.black {
  color: #000;
}
.full-text  section .byline {
  color: #66757f;
}
.full-text section .byline b {
  color: #6c757f;
}
.full-text  section .classy {
  font-size: 2em;
}
.full-text section,
.full-title section,
.twitter-body section,
.code section {
  color: #292f33;
  text-align: center;
}
.twitter-body .bespoke-slide {
  margin-top: 2em;
}
.twitter-body.no-margin .bespoke-slide {
  margin-top: 0;
}

.deep-gray-border {
  border: 3px solid #8899a6;
}
.content p {
  margin: 0.6em 0 0.4em;
}

pre {
  margin: 0.2em 0 0.3em;
}
code {
  border-radius: 5px;
  padding: 0 7px 5px;
  border: 1px solid rgba(0,0,0,.2);
  background: rgba(0,0,0,.1);
}
pre code {
  background: #3F3F3F;
  border: none;
  font-size: 17px;
  letter-spacing: -0.6px;
  line-height: 20px;
  padding: 0;
}
pre code span {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

.text-uppercase,
.uppercase {
  text-transform: uppercase;
}
.green {
  color: green;
}
.tomato {
  color: tomato;
}
section .byline--big .classy {
  font-size: 2.4em;
}
.byline--notLine::before {
  border: none!important;
}
.byline--notLine::after {
  border: none!important;
}
.byline--big {
  margin: 1.2em 0 0 0;
}
.gist {
  margin-top: 0!important;
  margin-bottom: 0!important;
}
.gist .blob-code-inner {
  font-size: 14px !important;
  line-height: 22px !important;
}
.gist .gist-file {
  border-bottom: none!important;
}
.gist .gist-meta {
  display: none!important;
}
